<html>
	<form method="post">
      <label for="search-input">search:</label><br>
      <input type="text" id="search-input" name="wd"><br>
      <button type="submit">搜索</button>
    </form>
    {{ .data }}
</html>